@font-face {
  font-family: "ProximaNovaSoft-Medium";
  src: url("font/webfonts/234DF5_0_0.eot");
  src: url("font/webfonts/234DF5_0_0.eot?#iefix") format("embedded-opentype"), url("font/webfonts/234DF5_0_0.woff") format("woff"), url("font/webfonts/234DF5_0_0.ttf") format("truetype");
}
@font-face {
  font-family: "ProximaNovaSoft-Semibold";
  src: url("font/webfonts/234DF5_1_0.eot");
  src: url("font/webfonts/234DF5_1_0.eot?#iefix") format("embedded-opentype"), url("font/webfonts/234DF5_1_0.woff") format("woff"), url("font/webfonts/234DF5_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "ProximaNovaSoft-Regular";
  src: url("font/webfonts/234DF5_3_0.eot");
  src: url("font/webfonts/234DF5_3_0.eot?#iefix") format("embedded-opentype"), url("font/webfonts/234DF5_3_0.woff") format("woff"), url("font/webfonts/234DF5_3_0.ttf") format("truetype");
}
@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
    display: grid;
  }
  .container.-layout-3-9 {
    grid-template-columns: 1fr 3fr;
  }
  .container.-layout-6-6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container.fluid {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
.container {
  position: relative;
  margin: 0 auto;
  grid-gap: 2rem;
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
}

.navbar-bottom {
  width: 100%;
  margin-top: 5rem;
  background-color: #25b15e;
}
.navbar-bottom:before, .navbar-bottom:after {
  content: " ";
  display: table;
  clear: both;
  height: 0;
  visibility: hidden;
}
.navbar-bottom > .container {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .navbar-bottom > .container {
    width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .navbar-bottom > .container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-bottom > .container {
    width: 1140px;
  }
}
.navbar-bottom .prev,
.navbar-bottom .next {
  display: block;
  position: relative;
  padding: 2rem;
  color: #ffffff;
  text-decoration: none;
}
.navbar-bottom .prev > .label,
.navbar-bottom .next > .label {
  font-family: "ProximaNovaSoft-Semibold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.2;
}
.navbar-bottom .prev > .title,
.navbar-bottom .next > .title {
  font-family: "ProximaNovaSoft-Semibold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  color: white;
  line-height: 1.1;
  -webkit-border-transition: 0.25s ease-out color;
  -moz-border-transition: 0.25s ease-out color;
  -ms-border-transition: 0.25s ease-out color;
  transition: 0.25s ease-out color;
}
.navbar-bottom .prev:after,
.navbar-bottom .next:after {
  content: " ";
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  height: 33px;
  width: 19px;
  background-repat: no-repeat;
  background-position: center;
  -webkit-border-transition: 0.25s ease-out all;
  -moz-border-transition: 0.25s ease-out all;
  -ms-border-transition: 0.25s ease-out all;
  transition: 0.25s ease-out all;
}
.navbar-bottom .prev:hover > .title,
.navbar-bottom .next:hover > .title {
  color: rgba(255, 255, 255, 0.6);
}
.navbar-bottom .prev:hover:after,
.navbar-bottom .next:hover:after {
  opacity: 0.6;
}
.navbar-bottom .prev {
  text-align: left;
  border-bottom: 4px solid white;
}
@media screen and (min-width: 768px) {
  .navbar-bottom .prev {
    margin-left: -2rem;
    border-bottom: none;
  }
}
.navbar-bottom .prev:after {
  left: 0.25rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOSIgaGVpZ2h0PSIzMyIgdmlld0JveD0iMCAwIDE5IDMzIj4gIDxwb2x5bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0IiBwb2ludHM9IjE2LjQ1NiAzMC45MTIgMiAxNi40NTYgMTYuNDU2IDIgMTYuNDU2IDIiLz48L3N2Zz4=);
}
@media screen and (min-width: 768px) {
  .navbar-bottom .prev:after {
    left: 0rem;
  }
}
.navbar-bottom .prev:hover:after {
  transform: translate(-4px, -50%);
}
.navbar-bottom .next {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .navbar-bottom .next {
    margin-right: -2rem;
  }
}
.navbar-bottom .next:after {
  right: 0.25rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOSIgaGVpZ2h0PSIzMyIgdmlld0JveD0iMCAwIDE5IDMzIj4gIDxwb2x5bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0IiBwb2ludHM9IjE2LjQ1NiAzMC45MTIgMiAxNi40NTYgMTYuNDU2IDIgMTYuNDU2IDIiIHRyYW5zZm9ybT0ibWF0cml4KC0xIDAgMCAxIDE4LjQ1NiAwKSIvPjwvc3ZnPg==);
}
@media screen and (min-width: 768px) {
  .navbar-bottom .next:after {
    right: 0;
  }
}
.navbar-bottom .next:hover:after {
  transform: translate(4px, -50%);
}
.navbar-bottom .disabled {
  display: none;
}
@media screen and (min-width: 768px) {
  .navbar-bottom .disabled {
    visibility: hidden;
    display: block;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  background-color: #23b15e;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding: 0;
  }
}
.footer > .logo {
  padding: 1rem;
  line-height: 0;
}
.footer > .logo > img {
  height: 34px;
  width: 134px;
}
.footer > .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer > .menu {
    flex-direction: row;
    align-items: center;
  }
}
.footer > .menu > li {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer > .menu > li {
    display: inline-block;
  }
}
.footer > .menu > li > a {
  display: block;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1;
  font-family: "ProximaNovaSoft-Semibold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgba(255, 255, 255, 0.8);
}/*# sourceMappingURL=main.css.map */