.tag-info[_ngcontent-c7] h1[_ngcontent-c7] {
  color: #23b15e;
}

[_nghost-c0] a {
  color: #23b15e;
}

.menu-item-depth-1[_ngcontent-c8] > .menu-item-header[_ngcontent-c8]:not(.disabled):hover {
  color: #23b15e;
}
.menu-item-depth-1[_ngcontent-c8].active[_ngcontent-c8] > .menu-item-header[_ngcontent-c8] {
  color: #23b15e;
}

.openapi-button[_ngcontent-c6] {
  border-radius: 4px;
  border-color: #23b15e;
  color: #23b15e;
}

.param-name[_ngcontent-c21] {
  border-color: rgba(35, 177, 94, 0.5);
}
.param-name[_ngcontent-c21] > span[_ngcontent-c21]:before {
  background-color: #23b15e;
}
.param-name[_ngcontent-c21] > span[_ngcontent-c21]:after {
  border-color: rgba(35, 177, 94, 0.5);
}

api-logo {
  padding: 16px;
}
api-logo img[_ngcontent-c2] {
  width: 90%;
}

@font-face {
  font-family: "ProximaNovaSoft-Medium";
  src: url("./font/webfonts/234DF5_0_0.eot");
  src: url("./font/webfonts/234DF5_0_0.eot?#iefix") format("embedded-opentype"), url("f./ont/webfonts/234DF5_0_0.woff") format("woff"), url("./font/webfonts/234DF5_0_0.ttf") format("truetype");
}
@font-face {
  font-family: "ProximaNovaSoft-Semibold";
  src: url("./font/webfonts/234DF5_1_0.eot");
  src: url("./font/webfonts/234DF5_1_0.eot?#iefix") format("embedded-opentype"), url("./font/webfonts/234DF5_1_0.woff") format("woff"), url("./font/webfonts/234DF5_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "ProximaNovaSoft-Regular";
  src: url("./font/webfonts/234DF5_3_0.eot");
  src: url("./font/webfonts/234DF5_3_0.eot?#iefix") format("embedded-opentype"), url("./font/webfonts/234DF5_3_0.woff") format("woff"), url("./font/webfonts/234DF5_3_0.ttf") format("truetype");
}
p {
  word-break: break-word;
}

.redoc-wrap[_ngcontent-c0] {
  font-family: "ProximaNovaSoft-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

[_nghost-c0] h1, [_nghost-c0] h2, [_nghost-c0] h3, [_nghost-c0] h4, [_nghost-c0] h5, [_nghost-c0] h6 {
  font-family: "ProximaNovaSoft-Semibold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
}
[_nghost-c0] h1 {
  color: #25323E;
}
[_nghost-c0] p {
  font-family: "ProximaNovaSoft-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.menu-item-depth-1[_ngcontent-c8] > .menu-item-header[_ngcontent-c8] {
  font-family: "ProximaNovaSoft-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.search-results[_ngcontent-c3] > li[_ngcontent-c3] {
  font-family: "ProximaNovaSoft-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*# sourceMappingURL=tripgo-api-style.css.map */
