language: objective-c
osx_image: xcode7.3
xcode_sdk: iphonesimulator9.3
xcode_workspace: Project/TripKit.xcworkspace
xcode_scheme:
    - TripKit

# Non-standard Podfile and opt-into caching of pods
podfile: Project/Podfile
cache: cocoapods

before_install:
  - echo -e "machine github.com\n  login $CI_USER_TOKEN" >> ~/.netrc
  - gem install xcpretty

# We use xcodebuild rather than xctool as xctool doesn't play nicely with network requests
script: set -o pipefail && xcodebuild test -workspace Project/TripKit.xcworkspace -scheme TripKit -sdk iphonesimulator | xcpretty