# TripKit
github "ReactiveX/RxSwift" ~> 5.1.1
github "nighthawk/ASPolygonKit"

# TripKitUI
github "onevcat/Kingfisher" ~> 5.4
github "RxSwiftCommunity/RxDataSources" ~> 4.0
git "git@gitlab.com:SkedGo/iOS/TGCardViewController.git" "master"
