# TripKit
github "ReactiveX/RxSwift" ~> 5.0
github "nighthawk/ASPolygonKit"

# TripKitUI
github "onevcat/Kingfisher" ~> 5.12
github "nighthawk/ASPolylineView"
github "RxSwiftCommunity/RxDataSources" ~> 4.0

# TripKitBookings
github "kishikawakatsumi/KeychainAccess"
github "OAuthSwift/OAuthSwift" ~> 2.1
github "SwiftyJSON/SwiftyJSON"
github "skedgo/KVNProgress"
