name: Swift

on:
  push:
    branches: [main]
    paths:
      - "Sources/**"
      - "Tests/**"
      - "Package.swift"
      - "TripKit.xcodeproj/**"
      - "Examples/**"
  pull_request:
    paths:
      - "Sources/**"
      - "Tests/**"
      - "Package.swift"
      - "TripKit.xcodeproj/**"
      - "Examples/**"
  workflow_dispatch:

jobs:
  build_spm:
    strategy:
      matrix:
        include:
          - os: macos-26
            xcode: "26.1.1"
          - os: macos-15
            xcode: "26.1.1"
          - os: macos-15
            xcode: "16.4"
          - os: macos-14
            xcode: "16.1" # sic, 16.2 not available on GitHub as of Jan 2025

    runs-on: ${{ matrix.os }}

    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode }}
      - uses: actions/checkout@v4
      - name: Build
        run: swift build --target TripKit

  build_spm_linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        swift: ["6.1", "6.0", "5.10"]
    container:
      image: swift:${{ matrix.swift }}

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: swift build --target TripKitAPI

  build_xcode:
    runs-on: macos-15

    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: actions/checkout@v3
      - name: Build TripKit Mac
        run: set -o pipefail && xcodebuild build -quiet -project TripKit.xcodeproj -scheme "TripKit" -sdk macosx | xcbeautify
      - name: Build TripKitUI iOS
        run: set -o pipefail && xcodebuild build -quiet -project TripKit.xcodeproj -scheme "TripKitUI" -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 16' | xcbeautify
      - name: Build TripKitInterApp iOS
        run: set -o pipefail && xcodebuild build -quiet -project TripKit.xcodeproj -scheme "TripKitInterApp" -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 16' | xcbeautify

  test_xcode:
    runs-on: macos-15

    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: actions/checkout@v4
      - name: Run tests
        env:
          TRIPGO_API_KEY: ${{ secrets.TRIPGO_API_KEY }}
        run: |
          set -o pipefail && xcodebuild test -quiet -project TripKit.xcodeproj -scheme "TripKit" -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 16' -resultBundlePath TestResults | xcbeautify
      # - uses: kishikawakatsumi/xcresulttool@v1 # NOT YET COMPATIBLE WITH XCODE 16
      #   with:
      #     path: TestResults.xcresult
      #   if: success() || failure()
      #   # ^ This is important because the action will be run
      #   # even if the test fails in the previous step.

  example_spm:
    runs-on: macos-15

    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: actions/checkout@v4
      - name: Build TripKitUIExample
        run: set -o pipefail && xcodebuild build -quiet -project TripKit.xcodeproj -scheme TripKitUIExample -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 16' | xcbeautify
